.parent-container {
	display: flex;
    font-family: "Switzerland";
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
    column-gap: 5rem;
}

.main-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover; /* A imagem cobrirá o contêiner de maneira proporcional */
	background-position: center;
	width: 100%; /* Certifique-se de que o contêiner de imagem ocupe 100% da largura */
	height: 400px;
}

.content-container {
	display: flex;
	flex-direction: column;
    gap: 1.2rem;
	background-color: #f6f6f6;
	align-items: center;
	justify-content: center;
    margin-top: 1rem;
    padding: 20px;
	width: 100%;
	box-sizing: border-box; /* Garante que o padding seja incluído no cálculo da largura */
}

.title {
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #231f20;
}

.info-box {
	width: 80%;
	max-width: 600px; /* Define um limite máximo para o tamanho da caixa de informação */
	padding: 20px;
	background-color: white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

.voluntario-btn {
	margin-top: 20px;
	padding: 12px 24px;
	background-color: #fdd835; /* Amarelo mais escuro para maior contraste */
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	text-align: center;
	cursor: pointer; /* Estiliza o cursor como ponteiro ao passar sobre o botão */
	transition: background-color 0.3s ease; /* Animação suave na cor de fundo */
}

.volunteer-btn:hover {
	background-color: #fbc02d; /* Muda a cor ao passar o mouse */
	padding: 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two columns */
	gap: 20px; /* Space between grid items */
	width: 80%; /* Width of the grid */
	max-width: 1000px; /* Maximum width for the grid */
	margin-top: 20px; /* Space above the grid */
}

.left-image {
	width: 100%; /* Ensure left image takes full width */
	height: 100%;
	border-radius: 8px; /* Optional: add rounded corners */
}

.right-container {
	display: flex;
	flex-direction: column; /* Stack images vertically */
}

.right-image-top,
.right-image-bottom {
	width: 100%; /* Ensure right images take full width */
	border-radius: 8px; /* Optional: add rounded corners */
}

.last-paragraph {
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;

	color: #231f20;
}

@media (max-width: 768px) {
	.main-image-container {
		height: 250px; /* Altura reduzida para telas menores */
	}

	.title {
		font-size: 20px; /* Título menor em telas pequenas */
	}

	.info-box {
		width: 95%; /* Aumenta a largura da caixa de informação em telas pequenas */
	}

	.volunteer-btn {
		width: 100%;
	}
}