.news-container{
  margin: 130px auto 0 auto;
  user-select: text;
  width: 80vw;

  @media (max-width: 576px) {
    width:100%;
    margin: auto;
  }
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-swiper {
  width: 100%;
}