.atualizar-informacoes-visitas {

    .subtitle {
        color: #df7046;
        display: block;
        font-size: 2.5rem;
        font-weight: bolder;
        border-bottom: 3px solid #df7046;
        width: fit-content;
        margin-bottom: 0.5rem;
        margin-top: 2rem;
    }

    .description {
        color: #000;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .form-control {
        background-color: #F1F1F1;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;

        .input-group {
            flex: 1;
            margin-right: 2rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                font-weight: bold;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            textarea {
                resize: none;
            }
        }

        .dropdown-group {
            flex: 1;

            label {
                display: block;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                font-weight: bold;
            }

            select {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 1rem;
            }
        }

        .upload-group {
            flex: 1;

            .upload-label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }

            .upload-area {
                background-color: #FFF;
                border: 2px dotted #DF7046;
                padding: 1rem;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;

                .file-input {
                    display: none;
                }

                .file-button {
                    background-color: #df7046;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #c95a3e;
                    }
                }
            }
        }

        .button-group {
            display: flex;
            margin-top: 1rem;

            button {
                padding: 0.3rem 0.7rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 1rem;
                margin: 10px;
                max-height: 50px;

                &.confirm-btn {
                    align-items: center;
                    background-color: #ffc72c;
                    color: #fff;
                    border-radius: 10px;
                    justify-content: center;
                    padding: 8px;
                    position: relative;
                    width: 155px;
                }

                &.discard-btn {
                    align-items: center;
                    background-color: #DF7046;
                    color: #fff;
                    border-radius: 10px;
                    justify-content: center;
                    padding: 8px;
                    position: relative;
                    width: 155px;
                }
            }
        }
    }
}
