.results-container {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  background-color: #FFF0E8;
  text-align: justify;

  .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1500px;
    max-width: 90%;
  }

  .result-item {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2.5rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
