.contact-section {
  background-color: #fff;
}

.contact-info img {
  max-width: 100px;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-info p {
  margin: 0.25rem 0;
}

.contact-form {
  background-color: #ffe7d0;
  padding: 1.5rem;
  border-radius: 8px;
}

.contact-form h2 {
  font-size: 1.75rem;
}

.contact-form .form-control {
  border-radius: 5px;
}
