.quotes{
  display: flex;
  background-color: #FFF0E8;
  width: 100%;
  padding: 5rem;

  .content-text{
    padding: 5rem;
    width: 60%;
  }
}

.mission{
  background-color: #F58346;
  display: flex;
  width: 100%;
  padding: 5rem;
}

.flex-container{
  display: flex;
  width: 100%;
  padding: 5rem;
}