.news-card {
  padding: 1rem;

  .card-body {
    padding: 0;

    .image-container {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .card-badge {
        position: absolute;
        color: #fff;
        top: 0;
        left: 0;
        background-color: #f86c6b;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        text-transform: uppercase;
        z-index: 2;
      }

      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0)
        );
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        z-index: 2;
      }
    }

    .content {
      padding: 1rem;

      .description {
        color: #6c757d;
        font-size: 0.9rem;
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        small {
          font-size: 0.85rem;
          color: #6c757d;
        }

        .link {
          font-size: 0.9rem;
          font-weight: bold;
          color: #dc3545;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .divider {
        margin-top: 0.5rem;
        height: 6px;
        width: 20%;
        background-color: #f86c6b;
      }
    }
  }
}
