// IJB Variables
$primary: #fcc90a;
$secondary: #f17342;
$tertiary: #9d503a;
$quartiary: #ffa970;

$secondary-hover: #b35632;

$white: #ffffff;
$light-gray: #aaaaaa;
$dark: #231f20;

$box-shadow: 0px 3px 6px #00000029;
$grid-gutter-width: 1rem;
