// IJB Variables
$primary: #fcc90a;
$secondary: #f17342;
$tertiary: #9d503a;
$quartiary: #ffa970;

$primary-hover: #d0aa0d;
$secondary-hover: #be542a;


$white: #FFF;
$light-gray: #a2a2a2;
$dark: #212529;

$box-shadow: 0px 3px 6px #00000029;
$grid-gutter-width: 1rem;
