.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.logo-icon {
  width: 70px;
  margin-right: 10px;
}

.footer-logo {
  width: 180px;
}

.icons {
  width: 35px;
  height: 35px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.logo-box {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: $primary;
  padding: 0 300px;
}

.ijb-title {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    font-size: 18px;
  }
  h4 {
    font-size: 24px;
    margin: 0;
    font-weight: bolder;
  }
  span {
    font-size: 10px;
    font-weight: 600;
  }
}
