.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.logo-icon {
  width: 70px;
  margin-right: 10px;
}

.icons {
  width: 35px;
  height: 35px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.logo-box {
  display: flex;
  flex-direction: row;
}

.main {
  height: 473px;
}

.footer {
  height: 200px;
  color: #fff;
  display: flex;
  background-color: #333;
  border: 1px solid #333;
  justify-content: center;
  align-items: center;
}
