@import "_variables";

.form-control:focus {
  box-shadow: 0 0 5px 1px #ffc49f;
  border-color: #ffc49f;
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    color: #fff;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  &:active, &:not(:disabled):active {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-secondary {
  background-color: $secondary;
  border: 1px solid $secondary;
  color: $white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    color: #fff;
    background-color: $secondary-hover;
    border-color: $secondary-hover;
  }

  &:active, &:not(:disabled):active {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-outline-secondary{
  background-color: #FFFFFF;
  border-color: $secondary;
  color: $secondary;

  &:hover {
    color: #fff;
    background-color: $secondary-hover;
    border-color: $secondary-hover;
  }

  &:active, &:not(:disabled):active {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}

.text-primary{
  color: $primary !important;
}

.text-secondary{
  color: $secondary !important;
}

