// IJB Variables
$primary: #fcc90a;
$secondary: #f17342;
$tertiary: #9d503a;
$white: #FFFFFF;
$dark: #231f20;
$box-shadow: 0px 3px 6px #00000029;
$box-shadow-blue: 0px 3px 6px #3ABBC629;
$grid-gutter-width: 1rem;
