.about-container{
  display: flex;
  align-items: center;
  justify-content: center;

  .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
  }
}