.about-container{
  display: flex;
  align-items: center;
  justify-content: center;

  .about-us{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 900px;
    max-width: 90%;
  }
}