.leaves-top{
  height: 360px;
  background: linear-gradient(to bottom, #FFF 0%, #FFC72C 100%);
}

.leaves{
  position: absolute;
  top: 405px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;

  @media (max-width: 768px) {
    width: 700px;
  }
}

.first-trunk {
  position: relative;
  width: 700px;
  height: 500px;
  z-index: 1;
}

.timeline-tree {
  width: 100%;
  position: relative;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tree-base {
    position: absolute;
    bottom: 0;
    z-index: 0;

    svg,
    img {
      width: 500px;
      height: auto;
    }
  }

  .tree-trunk {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg,
    img {
      width: 700px;
      height: auto;
    }
  }

  .year-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .year {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.6em;
      font-weight: bold;
      color: #fff;
      background-color: $secondary;
      padding: 4px 8px;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      z-index: 2;
    }
  }

  .timeline-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 500;

    &.left {
      left: calc(50% - 750px);
    }

    &.right {
      left: calc(50% + 150px);
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .event-image {
        border-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        text-align: justify;
        white-space: pre-line;
      }
    }
  }
}
